conf/*
log/*

Data/external/*
Data/service_1/*js
Data/service_1/*html
Data/service_1/*txt
Data/.config
Data/.local
Data/.cache
Data/.profile
Data/.bashrc
!Data/phpinfo.php
!Data/upload.php
!Data/_h5ai
!Data/service_1/decoder/draco/gltf

xrviewer-nginx-ssl-service/php-log/*
xrviewer-zfile/conf/*
xrviewer-zfile/nginx-log/*
xrviewer-nginx-ssl-service/nginx-log/*
xrviewer-nginx-ssl-service/proxy/certs/*.pem
xrviewer-zfile/*.pem
.DS_Store